* {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 242, 236);
  font-weight: bold;
}

.main-heading {
  text-align: center;
  font-size: 3rem;
}

.meme-text {
  font-size: 2rem;
}

.container {
  margin: 20px auto;
  max-width: 60%;
}

.item-title {
  display: block;
  font-size: 1.5rem;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-sign {
  visibility: hidden;
}

.item-checkbox {
  display: none;
}

.item-body {
  height: 0;
  transform: scale(0);
  overflow: hidden;
  transition: overflow 1s;
}

.item-checkbox:checked + .item-body {
  height: auto;
  transform: scale(1);
  transition: transform 1s;
}

.item-body img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

@media (min-width: 320px) and (max-width: 819px) {
  .item-title {
    cursor: auto;
  }

  .main-heading {
    font-size: 1.5rem;
  }

  .meme-text {
    font-size: 1rem;
  }

  .container {
    margin: 10px auto;
    max-width: 90%;
  }
  .meme-img {
    max-width: 95%;
  }
}

@media (min-width: 820px) and (max-width: 1199px) {
  .item-title {
    cursor: auto;
  }

  .main-heading {
    font-size: 2.5rem;
  }

  .meme-text {
    font-size: 1.5rem;
  }

  .container {
    margin: 15px auto;
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .container:hover {
    color: blue;
    transition: color 0.5s;
  }

  .container:hover .plus-sign {
    visibility: visible;
  }

  .item:hover .plus-sign {
    visibility: visible;
    transition: transform 0.5s;
    transform: rotate(45deg);
  }

  .item:hover > .item-body {
    height: 32em;
    transform: scale(1);
    transition: all 1s;
  }

  .item:not(:hover) > .item-body {
    transition: all 1s;
  }

  .item-title {
    cursor: pointer;
  }
}
